.input {
  @apply
  flex
  flex-col
  gap-1
}

.input__info{
  @apply
  flex
  gap-1
}

.input__content{
  @apply
  flex
  gap-3
  items-center
  relative
  border
  rounded
  py-2
  px-3
  focus-within:ring-2
  focus-within:ring-offset-2
  focus-within:ring-blue-500
  focus-within:ring-offset-white
  border-neutral-300
}

.input__content--error{
  @apply
  border-red-500
}

.input__label{
  @apply
  text-xs
  text-neutral-700
}

.input__icon svg{
  @apply
  w-[18px]
  h-[18px]
  text-neutral-500
}

.input__success svg{
  @apply
  w-[18px]
  h-[18px]
  text-lime-700
}

.input__field{
  @apply
  outline-none
  w-full
  bg-transparent
  bg-white
  placeholder-neutral-500
  text-neutral-800
}

.input__error-message{
  @apply
  text-xs
  text-red-600
}

.input__description{
  @apply
  text-xs
  text-neutral-700
}
