.button{
  @apply
  px-4
  py-2
  rounded
  text-white
  bg-neutral-800
  text-sm
  flex
  justify-center
  items-center
  transition
  gap-2
  hover:bg-neutral-700
}

.button--loading{
  @apply
  animate-pulse
  !cursor-not-allowed
}

.button__icon{
  @apply
  opacity-50
  text-base
}
