.tabs {
  @apply
  flex
  flex-col
  gap-[20px]
}

.tabs__header {
  @apply
  flex
  border-b-[2px]
}

.tabs__button {
  @apply
  w-full
  relative
}

.tabs__button__item {
  @apply
  w-full
  cursor-pointer
  p-3
  text-center
  text-neutral-600
  transition-all

  hover:bg-neutral-100
}

.tabs__button__line {
  @apply
  h-[2px]
  absolute
  -bottom-[2px]
bg-neutral-800
  w-full
}
