.index {
  @apply
  w-full
  flex
  flex-col
  gap-8
  m-auto
  items-center
}

.index__header {
  @apply
  flex
  flex-col
  text-center
  gap-8
}

.index__title {
  @apply
  text-5xl
  text-neutral-600
}

.index__description {
  @apply
  text-neutral-600
}

.index__menu {
  @apply
  flex
  flex-col
  gap-2
  w-full
  md:grid-cols-1
}

.index__item {
  @apply
  rounded-lg
  p-4
  border
  border-neutral-300
  w-full
  flex
  gap-4
  items-center
  transition-all

  hover:bg-neutral-100
}

.index__item__icon {
  @apply
  text-[25px]
  opacity-50
}

/* Lazy image transition */

.LazyLoad {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.is-visible {
  opacity: 1;
}