.checkbox{
  @apply
  flex
  gap-3
  text-sm
  items-center
  cursor-pointer
  outline-offset-4
  outline-neutral-400
}

.checkbox__default{
  @apply
  border
  bg-red-500
  border-red-500
}

.checkbox__square{
 @apply
 w-[24px]
 min-w-[24px]
 h-[24px]
 border-2
 flex
 justify-center
 items-center
 border-neutral-400
 bg-white
}

.checkbox__checked{
  @apply
  w-[14px]
  h-[14px]
  bg-neutral-800
}

.checkbox__label{
  @apply
  text-neutral-700
}