@import "../components/Modal/Modal.css";
@import "../components/Button/Button.css";
@import "../components/Syntax/Syntax.css";
@import "../components/Expander/Expander.css";
@import "../components/Checkbox/Checkbox.css";
@import "../components/Radio/Radio.css";
@import "../components/Input/Input.css";
@import "../components/Select/Select.css";
@import "../components/Navbar/Navbar.css";
@import "../components/ImageExpander/ImageExpander.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
